header{
    margin-top: 5px;
    width: 100%;
    padding-top: 1rem;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header .container .navbars{
    margin: 15px;
}
header .container .navbars a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 35px;
}
header .container .navbars a:hover{
    color: aquamarine;
}
body{
    font-family: 'montserrat';
    background-image: url("image/images\ -\ 2024-08-10T000604.229.jpeg");
    background-repeat: no-repeat;
    background-size: cover; /* L'image couvre toute la page */
    backdrop-filter: blur(10px);
    background-position: center;
    height: 100vh;
    margin: 0; /* Supprime les marges par défaut */
    z-index: -1; /* Place l'image derrière le contenu */
    background-color: black;
}
header .container .logo{
    color: rgb(255, 255, 255);
    font-size: 11px;
    margin-left: 30px;
}
#home .home2 {
    margin-left: 5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
#home .home2 h1{
    font-size: 4rem;
    color: white;
    padding-top: 4rem;
}
#home .home2 h1 span{
    color: aquamarine;
}
#home .bouton{
    margin-left: 5rem;
    margin-top: -14rem;
    
}
#home .bouton button{
    padding: 13px;
    border-radius: 20px;
    font-size: 1.2rem;
}
#home .bouton button:hover{
    background-color: aquamarine;
    transform: scale(1.1);
}
#home .home2 .image{
    margin-right: 6rem;
    margin-top: 3rem;
}
#home .home2 .image img{
    height: 35rem;
}
#about{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
}
#about h1{
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
#about .content{
    display: flex;
    justify-content: space-between;
    gap: 45px;
}
#about .content .texte p{
    text-align: justify;
    margin-right: 5rem;
    margin-top: 6rem;
    color: white;
}
#about .content img{
    margin-left: 4rem;
    margin-top: -5rem;
}
#competence{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: rgb(0, 12, 14);
    height: 800px;
}
#competence h1{
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
#competence .compet{
    color: white;
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin-top: 5rem;
}
#competence .compet .compet1 h2{
    margin-right: 8rem;
}
#competence .compet .compet2 h2{
    margin-left: 3rem;
}
#competence .enum{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
#competence .enum .enum1{
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 5rem;
    margin-right: 5rem;
    display: flex;
    gap: 30px;
}
#competence .enum .enum1 .Photoshop img{
    height: 70px;
    width: 70px;
    margin-top: 19px;
}
#competence .enum .enum1 .Photoshop img:hover{
    transform: scale(1.1);
}
#competence .enum .enum1 .Photoshop progress{
    display: block;
    width: 130px;
    height: 20px;
    margin-top: 30px;
}
#competence .enum .enum1 .Illustrator img{
    height: 100px;
    width: 100px;
}
#competence .enum .enum1 .Illustrator img:hover{
    transform: scale(1.1);
}
#competence .enum .enum1 .Illustrator progress{
    display: block;
    width: 130px;
    height: 20px;
    margin-top: 20px;
}
#competence .enum .enum2{
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 5rem;
    margin-left: 5rem;
    display: flex;
    gap: 30px;
}
#competence .enum .enum2 .html img{
    height: 80px;
    width: 80px;
    margin-top: 10px;
}
#competence .enum .enum2 .html img:hover{
    transform: scale(1.1);
}
#competence .enum .enum2 .html progress{
    display: block;
    width: 130px;
    height: 20px;
    margin-top: 30px;
}
#competence .enum .enum2 .css img{
    height: 150px;
    width: 150px;
    margin-top: -30px;
}
#competence .enum .enum2 .css img:hover{
    transform: scale(1.1);
}
#competence .enum .enum2 .css progress{
    display: block;
    width: 130px;
    height: 20px;
}
#competence .enum .enum2 .js img{
    height: 100px;
    width: 100px;
}
#competence .enum .enum2 .js img:hover{
    transform: scale(1.1);
}
#competence .enum .enum2 .js progress{
    display: block;
    width: 130px;
    height: 20px;
    margin-top: 20px;
}
#projets{
    text-align: center;
    justify-content: center;
    margin-top: -2rem;
    align-items: center;
    background-color: rgb(27, 27, 27);
}
#projets h1{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    border-radius: 100px;
    padding-top: 3rem;
}
#projets .design{
    margin: 90px;
}
#projets .design .bloc1{
    height: 300px;
    width: 300px;
    gap: 50px;
    display: flex;
}
#projets .design .bloc2{
    height: 290px;
    width: 290px;
    gap: 20px;
    display: flex;
    margin-top: 50px;
}
@media screen and (max-width: 780px) {
    header .container{
        display: block;
    }
    header .container .navbars{
        background-color: rgb(1, 66, 45);
    }
    header .container .navbars a{
        display: block;
        padding: 10px;
        margin-left: 1rem;
    }
    #home{
        display: block;
        margin-top: 15px;
    }
}